In [81]:
import pandas as pd

In [82]:
weather = pd.read_csv('jfk_weather.csv', index_col="DATE")
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.08,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.68,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,9.17,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,8.50,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,13.87,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,13.42,NaN,1608.0,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.507448
ACSH       0.507405
AWND       0.377562
FMTM       0.564147
PGTM       0.471844
PRCP       0.000129
SNOW       0.000215
SNWD       0.000258
TAVG       0.722232
TMAX       0.000086
TMIN       0.000086
TSUN       0.998665
WDF1       0.507663
WDF2       0.571379
WDF5       0.574953
WDFG       0.779533
WDFM       0.999957
WESD       0.738634
WSF1       0.507534
WSF2       0.571379
WSF5       0.574996
WSFG       0.678707
WSFM       0.999914
WT01       0.657698
WT02       0.939297
WT03       0.938824
WT04       0.983727
WT05       0.983985
WT06       0.991433
WT07       0.995350
WT08       0.779619
WT09       0.992509
WT11       0.999397
WT13       0.905932
WT14       0.961813
WT15       0.998192
WT16       0.678793
WT17       0.997417
WT18       0.941149
WT19       0.999957
WT21       0.999785
WT22       0.997890
WV01       0.999957
dtype: float64

In [84]:
core_weather = weather[["PRCP", "SNOW", "SNWD","TMAX", "TMIN"]].copy()
core_weather.columns = ["precip", "snow", "snow_depth", "max_temp", "min_temp"]
core_weather

            precip  snow  snow_depth  max_temp  min_temp
DATE
1960-01-01    0.00   0.0         0.0      41.0      26.0
1960-01-02    0.08   0.0         0.0      45.0      24.0
1960-01-03    0.68   0.0         0.0      51.0      38.0
1960-01-04    0.00   0.0         0.0      40.0      34.0
1960-01-05    0.00   0.0         0.0      38.0      31.0
...            ...   ...         ...       ...       ...
2023-08-01    0.00   0.0         0.0      81.0      66.0
2023-08-02    0.00   0.0         0.0      78.0      62.0
2023-08-03    0.00   0.0         0.0      78.0      63.0
2023-08-04    0.00   0.0         0.0      76.0      70.0
2023-08-05     NaN   NaN         NaN       NaN       NaN

[23228 rows x 5 columns]

In [85]:
core_weather.apply(pd.isnull).sum()/weather.shape[0]

precip        0.000129
snow          0.000215
snow_depth    0.000258
max_temp      0.000086
min_temp      0.000086
dtype: float64

In [86]:
core_weather["snow"].value_counts()

snow
0.0     22350
0.1       106
0.2        77
0.3        77
0.4        47
        ...
10.4        1
8.1         1
5.7         1
4.1         1
11.9        1
Name: count, Length: 97, dtype: int64

In [87]:
core_weather["precip"] = core_weather["precip"].fillna(0)
core_weather["snow"] = core_weather["precip"].fillna(0)
core_weather["snow_depth"] = core_weather["precip"].fillna(0)

In [88]:
core_weather = core_weather.fillna(method='ffill')
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip        0.0
snow          0.0
snow_depth    0.0
max_temp      0.0
min_temp      0.0
dtype: float64

In [90]:
core_weather.dtypes

precip        float64
snow          float64
snow_depth    float64
max_temp      float64
min_temp      float64
dtype: object

In [91]:
core_weather.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2023-07-27', '2023-07-28', '2023-07-29', '2023-07-30', '2023-07-31',
       '2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05'],
      dtype='object', name='DATE', length=23228)